[Unit]
Description=sinso

[Service]
User=root
#Environment=BTFS_PATH=/btfs/btfsl/.btfs
ExecStart=/sinso/amd/sinso --manager-address=0xebb6b4d65075d22a916e99520a2759fc67fcf485 --data-dir=/sinso/D --password=12345678a --p2p-addr=:A --swap-endpoint=https://testnet-rpc.amstarscan.com --logger-file=node.log --api-addr=:B --debug-api-addr=:C --nat-addr=169.197.141.220:A start
#KillSignal=SIGINT # gracefully kill the process when stopping the service. Allows node to unregister cleanly.
Restart=always
RestartSec=10
StartLimitInterval=12
StartLimitBurst=10

[Install]
WantedBy=multi-user.target

