[Unit]
Description=sinso

[Service]
User=root
#Environment=BTFS_PATH=/btfs/btfsl/.btfs
ExecStart=/home/sinso start --full-node=true --swap-endpoint=https://data-seed-pressc-3.sinso.io --data-dir=/sinso/A --password=123
#KillSignal=SIGINT # gracefully kill the process when stopping the service. Allows node to unregister cleanly.
Restart=always
RestartSec=10
StartLimitInterval=12
StartLimitBurst=10

[Install]
WantedBy=multi-user.target

